* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


.navbar-fixed {
    height: 0px;
    margin-bottom: 0;
}

.navbar-fixed nav ul {
    text-align: center;
}

.navbar-fixed nav ul li {
    display: inline;
    float: none;
}

.navbar-fixed nav ul li a {
    display: inline-block;
}

.navbar-fixed nav {
    bottom: 0;
    border-bottom: 0;
}

.top-nav,
.bot-nav {
    ul {
        li {

            i,
            span {
                z-index: -1;
            }
        }
    }
}

.list-league {
    margin-top: 50px;

    h3 {
        font-size: 30px;
    }

    .card {
        border-radius: 30px;
    }

    .card-image {
        padding: 20px;
    }

    img {
        width: 80px;
        height: 250px;
    }

    #dataLiga {
        li {
            list-style: none;
        }

        hr,
        li {
            color: black;
        }
    }
}

.profile {
    .descriptions {
        li {
            margin-bottom: 2px;
        }
    }
}

.detail-league,
.detail-team {
    margin-top: 30px;
    width: 100%;

}

.detail-league,
.descriptions-league,
.detail-team,
.descriptions-team {
    margin-left: 30px;
}

@media only screen and (min-width: 900px) {

    .detail-league,
    .detail-team {
        display: flex;

        .descriptions-league,
        .descriptions-team {
            margin-left: 90px;
            padding-top: 30px;
        }
    }
}

@media only screen and (max-width: 900px) {
    .descriptions-league {
        margin-top: 40px;
    }

    .image {
        display: flex;
        justify-content: center;
    }
}